/frontend/node_modules
/backend/node_modules
/backend/.env
node_modules
/backend/temp
/backend/cache
/backend/tmp
/backend/output
/python_backend/.env
/python_backend/temp
/python_backend/Download
/python_backend/tmp
/frontend/build
/frontend/.env.development
/frontend/.env.production